@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.config-page{
  font-family: 'MedievalSharp', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 16px;
  background-color: black;
  background-image: url('../images/questionMark.png');
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 30%;
    animation: triviaAnimation 2s infinite;
    animation-timing-function: linear;
    transform-origin: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 50px 41px 50px;
    border: 0px solid rgba($color: #ffffff, $alpha: 0.6);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 1);
    border-radius: 12px;
    background-color: rgba($color: #ffffff, $alpha: 0.6);

    h1{
      margin: 0px;
    }

    a {
      width: 30%;
      button {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid white;
        background-color: green;
        color: white;
  
        &:hover{
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    select {
      margin-left: 8px;
      // width: 80%;
      padding: 12px 16px;
      border: none;
      border-radius: 5px;
      color: white;
      background-color: #AA510E;  
  }
  }
}