@keyframes triviaAnimation {
  0%{
    transform: translateX(50px);
  }
  50%{
    transform: translateX(-50px);
  }
  100%{
    transform: translateX(50px);
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 16px;
  background-color: black;
  background-image: url('../questionMark.png');
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 30%;
    animation: triviaAnimation 2s infinite;
  }

  input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid green;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 100px;
    border: 0px solid rgba($color: #ffffff, $alpha: 0.6);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 1);
    border-radius: 12px;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    a {
      width: 100%;
      button {
        width: 100%;
      }
    }

    .btn-disabled{
      padding: 10px;
      border-radius: 8px;
      font-weight: 700;
      font-size: 16px;
      border: 1px solid green;
      background-color: white;
      color: green;
      opacity: 0.4;

      &:hover{
        cursor: not-allowed;
      }
    }

    .btn-login{
      padding: 10px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 700;
      border: 1px solid white;
      background-color: green;
      color: white;

      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .btn-settings{
      padding: 10px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 700;
      border: 1px solid white;
      background-color: green;
      color: white;

      &:hover{
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}