@import url('htps://fonts.googleapis.com/css2?family=MedievalSharp&display=swap') ;

body {
  align-items: center;
  background-image: url('../stonewall2.jpg');
  display: flex;
  justify-content: center;
}

.ranking-container {
  align-items: center;
  background-image: url('../ranking.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 130vh;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 100vw;

  .ranking {
    max-height: 110vh;
    width: 55%;

    h1 {
      font-size: 40px;

    }

    .table-container {
      font-size: 20px;
      margin-bottom: 10px;
      max-height: 100vh;
      overflow-y: auto;
      width: 90%;
    }

  }
}

button {
  background-color: green;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  width: 200px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

thead, tbody {
  text-align: center;
}

img {
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  height: 50px;
  width: 50px;
}

